.container{

    display: flex;
    flex-direction: column;
   width:300px;
   margin:0 auto;
   gap: 10px;
   padding: 5px ;
   margin-bottom: 10px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bold;
}
input{
       width: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
#button{
    padding: 10px;
    margin-left: 900px;
    border: none;
    border-radius: 5px;
    color: rgb(19, 19, 20);
    background-color: rgb(181, 181, 212);
     font-weight: bold;
}

#errors{
    color: red;
    font-weight: bold;
   
}